@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe;

<h4>Add a new recipe</h4>

@using (Html.BeginForm())
{
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm">@Html.LabelFor(model => model.RecipeName)
    </span>
    @Html.TextBoxFor(m => m.RecipeName, new{@class = "form-control"})
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">@Html.LabelFor(model => model.Ingredients)
    </span>
    <input type="text" class="form-control" aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-default">
  </div>

  <div class="input-group input-group-lg mb-3">
    <span class="input-group-text" id="inputGroup-sizing-lg">@Html.LabelFor(model => model.Instruction)
    </span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
  </div>

  <div class="input-group input-group-lg mb-3">
    <span class="input-group-text" id="inputGroup-sizing-lg">@Html.Label("Select tag") </span>
    @Html.DropDownList("TagId", (IEnumerable<SelectListItem>)@ViewBag.TagId, "Category", new{@class = "form-select"})
  </div>

  <button type="submit" class="btn btn-info">Add new recipe</button>
}
<div class="hstack gap-3 pt-3 mt-3 border-top border-dark">
  <p>@Html.ActionLink("Show all recipes", "Index")</p>
</div>
