@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Edit</h2>

<h4>Edit this recipe: @Html.DisplayFor(model => model.RecipeName). created by @Html.DisplayFor(model => model.UserId)
</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)
  @Html.HiddenFor(model => model.UserId)

  @Html.LabelFor(model => model.RecipeName)
  @Html.EditorFor(model => model.RecipeName)
  @Html.LabelFor(model => model.Ingredients)
  @Html.EditorFor(model => model.Ingredients)
  @Html.LabelFor(model => model.Instruction)
  @Html.EditorFor(model => model.Instruction)

  @Html.Label("Select tag")
  @Html.DropDownList("TagId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>