@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model IEnumerable<RecipeBox.Models.Recipe>

<h1>Recipes for @User.Identity.Name</h1>

@if (Model.Any())
{
  @using (Html.BeginForm())
  {
    <p>Search By Ingredient : @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
      <input type="submit" value="Search" />
    </p>
  }
  <ul class="list-group list-group-flush">
    @foreach (Recipe recipe in Model)
    {
      <li class="list-group-item">@Html.ActionLink($"{recipe.RecipeName}", "Details", new { id = recipe.RecipeId })</li>
    }
  </ul>
}
else
{
  <h3>No recipes have been added yet!</h3>
}
<div class="hstack gap-3 pt-3 mt-3 border-top border-dark">
  <p>@Html.ActionLink("Add new recipe", "Create")</p>

  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>